{% extends "base.html" %}

{% block title %} Drawing API Test {% endblock %}

{% block body %}
<div id="map"></div>
{% endblock %}

{% block pagejs %}
<script src="/static/js/raphael-min.js"></script>
<script src="/static/js/scale.raphael.js"></script>
<script src="/static/blat/js/draw.js"></script>
<script>
draw_fn = giraffe_draw_init({
    'map_dom_id' : 'map',
    'plasmid_name' : 'pLKO.1 TRC Cloning Vector',
})
</script>
<script src="/blat/8de364690dbeb88d2ab63bd66861725539aa3204/default?jsonp=draw_fn"></script>
{% endblock %}

