{% extends "base.html" %}

{% block title %} Drawing API Test {% endblock %}

{% block body %}
<div style="height: 640px; width: 640px; border: 1px solid red"
 id="map-10878"></div>
<div style="height: 640px; width: 640px; border: 1px solid blue"
 id="map-15300"></div>
<div style="height: 640px; width: 640px; border: 1px solid green"
 id="map-12522"></div>
{% endblock %}

{% block pagejs %}
<script type="text/javascript" src="/static/js/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/scale.raphael.js"></script>
<script type="text/javascript" src="/static/blat/js/draw.js"></script>
<script type="text/javascript">var gd = GiraffeDraw();</script>
<script type="text/javascript" src="/blat/8de364690dbeb88d2ab63bd66861725539aa3204/default?jsonp=gd.read"></script>
<script type="text/javascript">gd.draw_circular_map({
    'map_dom_id' : 'map-10878',
    'plasmid_name' : 'pLKO.1 TRC Cloning Vector',
    'fade_time' : 300,
	'cutters': [1]
});</script>
<script type="text/javascript">var gd2 = GiraffeDraw();</script>
<script type="text/javascript" src="/blat/cab6427281228b7ca1d1699b95202eff367658ae/default?jsonp=gd2.read"></script>
<script type="text/javascript">gd2.draw_circular_map({
    'map_dom_id' : 'map-15300',
    'plasmid_name' : 'pWZL-Neo-Myr-Flag-DEST',
    'fade_time' : 300,
	'cutters': [1]
});
</script>
<script type="text/javascript">var gd3 = GiraffeDraw();</script>
<script type="text/javascript" src="/blat/41ec2e41df504bdd69b246f6e3fdf65647e634bb/default?jsonp=gd3.read"></script>
<script type="text/javascript">gd3.draw_circular_map({
    'map_dom_id' : 'map-12522',
    'plasmid_name' : 'pBabe puro HA PIK3CA Sequence',
    'fade_time' : 300,
	'cutters': [1]
});
</script>
{% endblock %}

