{% extends "base.html" %}

{% block title %} Drawing API Test {% endblock %}

{% block body %}
<div style="height: 640px; width: 640px; border: 1px solid red; float: left" id="map"></div>
<div style="height: 640px; width: 640px; border: 1px solid blue; float: left" id="map-lin"></div>
{% endblock %}

{% block pagejs %}
<script type="text/javascript" src="/static/js/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/scale.raphael.js"></script>
<script type="text/javascript" src="/static/analyze/js/draw.js"></script>
<script type="text/javascript">var gd = new GiraffeDraw();</script>
<script type="text/javascript" src="/blat/{{hash}}/default?jsonp=gd.read&mtime={{mtime}}">
</script>
<script type="text/javascript">
var cmap = new gd.CircularMap({
    'map_dom_id' : 'map',
    'plasmid_name' : 'Test',
    'fade_time' : 300,
	'cutters': [1]
});
var lmap = new gd.LinearMap({
    'map_dom_id' : 'map-lin',
    'plasmid_name' : 'TestLin',
    'fade_time' : 300,
	'cutters': [1]
});
</script>
{% endblock %}

