{% extends "base.html" %}

{% block title %} Map Features in Sequence {% endblock %}

{% block body %}

<form id="example_form" action="{% url blat-post %}" method="POST">
{% csrf_token %}
<input type="hidden" name="next" value="/test/analyze/" />
<input type="hidden" name="db" value="default" />
<input type="hidden" name="sequence" value="
ttggggttgcgccttttccaaggcagccctgggtttgcgcagggacgcggctgctctgggcgtggttccgggaaacgcag
cggcgccgaccctgggtctcgcacattcttcacgtccgttcgcagcgtcacccggatcttcgccgctacccttgtgggcc
ccccggcgacgcttcctgctccgcccctaagtcgggaaggttccttgcggttcgcggcgtgccggacgtgacaaacggaa
gccgcacgtctcactagtaccctcgcagacggacagcgccagggagcaatggcagcgcgccgaccgcgatgggctgtggc
caatagcggctgctcagcagggcgcgccgagagcagcggccgggaaggggcggtgcgggaggcggggtgtggggcggtag
tgtgggccctgttcctgcccgcgcggtgttccgcattctgcaagcctccggagcgcacgtcggcagtcggctccctcgtt
gaccgaatcaccgacctctctccccagggggatccaccggagcttaccatgaccgagtacaagcccacggtgcgcctcgc
cacccgcgacgacgtccccagggccgtacgcaccctcgccgccgcgttcgccgactaccccgccacgcgccacaccgtcg
atccggaccgccacatcgagcgggtcaccgagctgcaagaactcttcctcacgcgcgtcgggctcgacatcggcaaggtg
tgggtcgcggacgacggcgccgcggtggcggtctggaccacgccggagagcgtcgaagcgggggcggtgttcgccgagat
cggcccgcgcatggccgagttgagcggttcccggctggccgcgcagcaacagatggaaggcctcctggcgccgcaccggc
ccaaggagcccgcgtggttcctggccaccgtcggcgtctcgcccgaccaccagggcaagggtctgggcagcgccgtcgtg
ctccccggagtggaggcggccgagcgcgccggggtgcccgccttcctggagacctccgcgccccgcaacctccccttcta
cgagcggctcggcttcaccgtcaccgccgacgtcgaggtgcccgaaggaccgcgcacctggtgcatgacccgcaagcccg
gtgcctgacgcccgccccacgacccgcagcgcccgaccgaaaggagcgcacgaccccatgcatcggtacctttaagacca
atgacttacaaggcagctgtagatcttagccactttttaaaagaaaaggggggactggaagggctaattcactcccaacg
aagacaagatctgctttttgcttgtactgggtctctctggttagaccagatctgagcctgggagctctctggctaactag
ggaacccactgcttaagcctcaataaagcttgccttgagtgcttcaagtagtgtgtgcccgtctgttgtgtgactctggt
aactagagatccctcagacccttttagtcagtgtggaaaatctctagcagtagtagttcatgtcatcttattattcagta
tttataacttgcaaagaaatgaatatcagagagtgagaggaacttgtttattgcagcttataatggttacaaataaagca
atagcatcacaaatttcacaaataaagcatttttttcactgcattctagttgtggtttgtccaaactcatcaatgtatct
tatcatgtctggctctagctatcccgcccctaactccgcccatcccgcccctaactccgcccagttccgcccattctccg
ccccatggctgactaattttttttatttatgcagaggccgaggccgcctcggcctctgagctattccagaagtagtgagg
aggcttttttggaggcctagggacgtacccaattcgccctatagtgagtcgtattacgcgcgctcactggccgtcgtttt
acaacgtcgtgactgggaaaaccctggcgttacccaacttaatcgccttgcagcacatccccctttcgccagctggcgta
atagcgaagaggcccgcaccgatcgcccttcccaacagttgcgcagcctgaatggcgaatgggacgcgccctgtagcggc
gcattaagcgcggcgggtgtggtggttacgcgcagcgtgaccgctacacttgccagcgccctagcgcccgctcctttcgc
tttcttcccttcctttctcgccacgttcgccggctttccccgtcaagctctaaatcgggggctccctttagggttccgat
ttagtgctttacggcacctcgaccccaaaaaacttgattagggtgatggttcacgtagtgggccatcgccctgatagacg
gtttttcgccctttgacgttggagtccacgttctttaatagtggactcttgttccaaactggaacaacactcaaccctat
ctcggtctattcttttgatttataagggattttgccgatttcggcctattggttaaaaaatgagctgatttaacaaaaat
ttaacgcgaattttaacaaaatattaacgcttacaatttaggtggcacttttcggggaaatgtgcgcggaacccctattt
gtttatttttctaaatacattcaaatatgtatccgctcatgagacaataaccctgataaatgcttcaataatattgaaaa
aggaagagtatgagtattcaacatttccgtgtcgcccttattcccttttttgcggcattttgccttcctgtttttgctca
cccagaaacgctggtgaaagtaaaagatgctgaagatcagttgggtgcacgagtgggttacatcgaactggatctcaaca
gcggtaagatccttgagagttttcgccccgaagaacgttttccaatgatgagcacttttaaagttctgctatgtggcgcg
gtattatcccgtattgacgccgggcaagagcaactcggtcgccgcatacactattctcagaatgacttggttgagtactc
accagtcacagaaaagcatcttacggatggcatgacagtaagagaattatgcagtgctgccataaccatgagtgataaca
ctgcggccaacttacttctgacaacgatcggaggaccgaaggagctaaccgcttttttgcacaacatgggggatcatgta
actcgccttgatcgttgggaaccggagctgaatgaagccataccaaacgacgagcgtgacaccacgatgcctgtagcaat
ggcaacaacgttgcgcaaactattaactggcgaactacttactctagcttcccggcaacaattaatagactggatggagg
cggataaagttgcaggaccacttctgcgctcggcccttccggctggctggtttattgctgataaatctggagccggtgag
cgtgggtctcgcggtatcattgcagcactggggccagatggtaagccctcccgtatcgtagttatctacacgacggggag
tcaggcaactatggatgaacgaaatagacagatcgctgagataggtgcctcactgattaagcattggtaactgtcagacc
aagtttactcatatatactttagattgatttaaaacttcatttttaatttaaaaggatctaggtgaagatcctttttgat
aatctcatgaccaaaatcccttaacgtgagttttcgttccactgagcgtcagaccccgtagaaaagatcaaaggatcttc
ttgagatcctttttttctgcgcgtaatctgctgcttgcaaacaaaaaaaccaccgctaccagcggtggtttgtttgccgg
atcaagagctaccaactctttttccgaaggtaactggcttcagcagagcgcagataccaaatactgttcttctagtgtag
ccgtagttaggccaccacttcaagaactctgtagcaccgcctacatacctcgctctgctaatcctgttaccagtggctgc
tgccagtggcgataagtcgtgtcttaccgggttggactcaagacgatagttaccggataaggcgcagcggtcgggctgaa
cggggggttcgtgcacacagcccagcttggagcgaacgacctacaccgaactgagatacctacagcgtgagctatgagaa
agcgccacgcttcccgaagggagaaaggcggacaggtatccggtaagcggcagggtcggaacaggagagcgcacgaggga
gcttccagggggaaacgcctggtatctttatagtcctgtcgggtttcgccacctctgacttgagcgtcgatttttgtgat
gctcgtcaggggggcggagcctatggaaaaacgccagcaacgcggcctttttacggttcctggccttttgctggcctttt
gctcacatgttctttcctgcgttatcccctgattctgtggataaccgtattaccgcctttgagtgagctgataccgctcg
ccgcagccgaacgaccgagcgcagcgagtcagtgagcgaggaagcggaagagcgcccaatacgcaaaccgcctctccccg
cgcgttggccgattcattaatgcagctggcacgacaggtttcccgactggaaagcgggcagtgagcgcaacgcaattaat
gtgagttagctcactcattaggcaccccaggctttacactttatgcttccggctcgtatgttgtgtggaattgtgagcgg
ataacaatttcacacaggaaacagctatgaccatgattacgccaagcgcgcaattaaccctcactaaagggaacaaaagc
tggagctgcaagcttaatgtagtcttatgcaatactcttgtagtcttgcaacatggtaacgatgagttagcaacatgcct
tacaaggagagaaaaagcaccgtgcatgccgattggtggaagtaaggtggtacgatcgtgccttattaggaaggcaacag
acgggtctgacatggattggacgaaccactgaattgccgcattgcagagatattgtatttaagtgcctagctcgatacat
aaacgggtctctctggttagaccagatctgagcctgggagctctctggctaactagggaacccactgcttaagcctcaat
aaagcttgccttgagtgcttcaagtagtgtgtgcccgtctgttgtgtgactctggtaactagagatccctcagacccttt
tagtcagtgtggaaaatctctagcagtggcgcccgaacagggacttgaaagcgaaagggaaaccagaggagctctctcga
cgcaggactcggcttgctgaagcgcgcacggcaagaggcgaggggcggcgactggtgagtacgccaaaaattttgactag
cggaggctagaaggagagagatgggtgcgagagcgtcagtattaagcgggggagaattagatcgcgatgggaaaaaattc
ggttaaggccagggggaaagaaaaaatataaattaaaacatatagtatgggcaagcagggagctagaacgattcgcagtt
aatcctggcctgttagaaacatcagaaggctgtagacaaatactgggacagctacaaccatcccttcagacaggatcaga
agaacttagatcattatataatacagtagcaaccctctattgtgtgcatcaaaggatagagataaaagacaccaaggaag
ctttagacaagatagaggaagagcaaaacaaaagtaagaccaccgcacagcaagcggccgctgatcttcagacctggagg
aggagatatgagggacaattggagaagtgaattatataaatataaagtagtaaaaattgaaccattaggagtagcaccca
ccaaggcaaagagaagagtggtgcagagagaaaaaagagcagtgggaataggagctttgttccttgggttcttgggagca
gcaggaagcactatgggcgcagcgtcaatgacgctgacggtacaggccagacaattattgtctggtatagtgcagcagca
gaacaatttgctgagggctattgaggcgcaacagcatctgttgcaactcacagtctggggcatcaagcagctccaggcaa
gaatcctggctgtggaaagatacctaaaggatcaacagctcctggggatttggggttgctctggaaaactcatttgcacc
actgctgtgccttggaatgctagttggagtaataaatctctggaacagatttggaatcacacgacctggatggagtggga
cagagaaattaacaattacacaagcttaatacactccttaattgaagaatcgcaaaaccagcaagaaaagaatgaacaag
aattattggaattagataaatgggcaagtttgtggaattggtttaacataacaaattggctgtggtatataaaattattc
ataatgatagtaggaggcttggtaggtttaagaatagtttttgctgtactttctatagtgaatagagttaggcagggata
ttcaccattatcgtttcagacccacctcccaaccccgaggggacccgacaggcccgaaggaatagaagaagaaggtggag
agagagacagagacagatccattcgattagtgaacggatctcgacggtatcgatcacgagactagcctcgagcggccgcc
cccttcaccgagggcctatttcccatgattccttcatatttgcatatacgatacaaggctgttagagagataattggaat
taatttgactgtaaacacaaagatattagtacaaaatacgtgacgtagaaagtaataatttcttgggtagtttgcagttt
taaaattatgttttaaaatggactatcatatgcttaccgtaacttgaaagtatttcgatttcttggctttatatatcttg
tggaaaggacgaaacACCGGTGTGTTGTAAATGAGCACACAAAATACACATGCTAAAATATTATATTCTATGACCTTTAT
AAAATCAACCAAAATCTTCTTTTTAATAACTTTAGTATCAATAATTAGAATTTTTATGTTCCTTTTTGCAAACTTTTAAT
AAAAATGAGCAAAATAAAAAAACGCTAGTTTTAGTAACTCGCGTTGTTTTCTTCACCTTTAATAATAGCTACTCCACCAC
TTGTTCCTAAGCGGTCAGCTCCTGCTTCAATCATTTTTTGAGCATCTTCAAATGTTCTAACTCCACCAGCTGCTTTAACT
AAAGCATTGTCTTTAACAACTGACTTCATTAGTTTAACATCTTCAAATGTTGCACCTGATTTTGAAAATCCTGTTGATGT
TTTAACAAATTCTAATCCAGCTTCAACAGCTATTTCACAAGCTTTCATGATTTCTTCTTTTGTTAATAAACAATTTTCCA
TAATACATTTAACAACATGTGATCCAGCTGCTTTTTTTACAGCTTTCATGTCTTCTAAAACTAATTCATAATTTTTGTCT
TTTAATGCACCAATATTTAATACCATATCAATTTCTGTTGCACCATCTTTAATTGCTTCAGAAACTTCGAATGCTTTTGT
AGCTGTTGTGCATGCACCTAGAGGAAAACCTACAACATTTGTTATTCCTACATTTGTGCCTTTTAATAATTCTTTACAAT
AGCTTGTTCAATATGAATTAACACAAACTGTTGCAAAATCAAATTCAATTGCTTCATCACATAATTGTTTAATTTCAGCT
TTCGTAGCATCTTGTTTTAATAATGTGTGATCTATATATTTGTTTAGTTTCATTTTTTCTCCTATATATTCATTTTTAAT
TTTAATTCTTTAATAATTTCGTCTACTTTAACTTTAGCGTTTTGAACAGATTCACCAACACCTATAAAATAAATTTTTAG
TTTAGGTTCAGTTCCACTTGGGCGAACAGCAAATCATGACTTATCTTCTAAATAAAATTTTAGTAAGTCTTGTCCTGGCA
TATTATACATTCCATCGATGTAGTCTTCAACATTAACAACTTTAAGTCCAGCAATTTGAGTTAAGGGTGTTGCTCTCAAT
GATTTCATTAATGGTTCAATTTTTAATTTCTTTTCTTCTGGTTTAAAATTCAAGTTTAAAGTGAAAGTGTAATATGCACC
CATTTCTTTAAATAAATCTTCTAAATAGTCTACTAATGTTTTATTTTGTTTTTTATAAAATCAAGCAGCCTCTGCTATTA
ATATAGAAGCTTGTATTCCATCTTTATCTCTAGCTGAGTCATCAATTACATATCCATAACTTTCTTCATAAGCAAAAACA
AAATTTAATCCGTTATCTTCTTCTTTAGCAATTTCTCTACCCATTCATTTAAATCCAGTTAAAGTTTTTACAATATTAAC
TCCATATTTTTCATGAGCGATTCTATCACCCAAATCACTTGTTACAAAACTTGAATATAGAGCCGGATTTTTTGGAATGC
TATTTAAGCGTTTTAGATTTGATAATTTTCAATCAATTAAAATTGGTCCTGTTTGATTTCCATCTAATCTTACAAAATGA
CCATCATGTTTTATTGCCATTCCAAATCTGTCAGCATCTGGGTCATTCATAATAATAATATCTGCATCATGTTTAATACC
ATATTCAAGCGGTATTTTTCATGCAGGATCAAATTCTGGATTTGGATTTACAACATTTTTAAATGTTTCATCTTCAAATG
CATGCTCTTCAACCTCAATAACGTTATATCCTGATTCACGTAATATTTTTGGGGTAAATTTAGTTCCTGTTCCATTAACT
GCGCTAAAAATAATTTTTAAATCTTTTTTAGCTTCTTGCTCTTTTTTGTAGAATTCtcgacctcgagacaaatggcagta
ttcatccacaattttaaaagaaaaggggggattggggggtacagtgcaggggaaagaatagtagacataatagcaacaga
catacaaactaaagaattacaaaaacaaattacaaaaattcaaaattttcgggtttattacagggacagcagagatccac
tttggccgcggctcgaggggg
"/>
<p class="button"><a href="#">See an example</a></p>
</form>

<h2>Enter Sequence to Map</h2>

<form id="post_form" action="{% url blat-post %}" method="POST">{% csrf_token %}
<input type="hidden" name="next" value="/test/analyze/" />
<input type="hidden" name="db" value="default" />

<textarea name="sequence" class="sequence">
</textarea>
<p class="button"><a href="#">Try It</a></p>

</form>

{% endblock %}

{% block pagejs %}
<script>
jQuery('.button a').click(function(evt){
    evt.preventDefault();
    var s0 = jQuery(this).parents('form').find('input[name=sequence]').val();
    var s1 = jQuery(this).parents('form').find('textarea[name=sequence]').val();
    if ((s0 !== undefined && s0.length) ||
        (s1 !== undefined && s1.length)) {
        jQuery(this).parents('form').submit();
        return;
    }
    alert('Please enter a sequence');
});
</script>
{% endblock %}

