<!DOCTYPE HTML>
<html>
    <head>
        <meta
          http-equiv="Content-Type"
          content="text/html;charset=utf-8"/>
        <title>{% block title %}Giraffe{% endblock %}</title>
        <link rel="stylesheet"
            href="/headers/css/jquery-ui/jquery-ui-1.8.6.custom.css"
            type="text/css" />
        {% block pagecss %}{% endblock %}
    </head>
    <body class="giraffe">
    <div class="container">
    {% block body %}{% endblock %}
    </div>
    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="/headers/js/pngfix.js">
    </script>
    <![endif]-->
    <script type="text/javascript" src="/headers/js/jquery-1.4.2.min.js">
    </script>
    <script type="text/javascript"
     src="/headers/js/jquery-ui-1.8.6.custom.min.js">
    </script>
    <script type="text/javascript" src="/headers/js/jquery.history.js">
    </script>
    <script>jQuery.noConflict()</script>
    {% block pagejs %}{% endblock %}
    </body>
</html>

